.templates {
  max-width: 1500px;
  margin: 70px auto;
  padding-inline: 20px;
}

.templates h2 {
  font-size: 48px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
}

.gridContainer a {
  display: block;
}

.gridContainer a img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .templates {
    margin: 50px auto !important;
  }

  .templates h2 {
    font-size: 28px;
    padding-bottom: 15px;
  }
}
