.cvtemplate01 {
  width: 1200px;
  height: 1200px;
  border: 1px solid black;
  display: flex;
  margin: 50px auto;
}

.cvtemplate01 .left-column {
  background-color: #1b3142;
  padding: 25px;
  width: 50%;
  color: white;

  h1 {
    font-size: 48px;
    font-weight: 800;
  }

  h3 {
    font-weight: 200;
    font-size: 28px;
  }
}
