section.benefits {
  padding-inline: 40px;
}

section.benefits h3 {
  font-size: 60px;
  color: rgba(32, 14, 50, 1);
  margin-top: 144px;
}

.benefits p {
  font-size: 20px;
  line-height: 1.7;
  color: rgb(97 105 119);
  max-width: 800px;
  margin-top: 20px;
}

.benefits ul {
  list-style-type: none;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 72px;
  gap: 64px;
}

.benefits li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.benefits .imageContainer {
  width: 48px;
  height: 48px;
  background-color: #200e32;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.benefits .imageContainer svg {
  width: 32px;
  height: 32px;
  color: white;
}

.benefits li h4 {
  font-size: 20px;
  color: #200e32;
  margin-top: 16px;
}

.benefits li p {
  font-size: 16px;
  margin-top: 8px;
  color: #616977;
}

@media (max-width: 1400px) {
  section.benefits h3 {
    font-size: 48px;
  }
}

@media (max-width: 1100px) {
  .benefits ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  section.benefits h3 {
    font-size: 30px;
    margin-top: 80px;
  }

  section.benefits p {
    font-size: 18px;
  }

  section.benefits {
    padding-inline: 20px;
  }

  .benefits ul {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
