.hero {
  display: flex;
  padding: 45px 32px 0px 32px;
  gap: 42px;
  align-items: center;
  margin-top: 1rem;
}

.hero .textContainer h1 {
  font-size: 86px;
  font-weight: 900;
  line-height: 100px;
  margin-bottom: 32px;
}

.hero .textContainer>p {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  color: rgb(75, 85, 99);
  margin-bottom: 32px;
  max-width: 700px;
}

.hero .textContainer img {
  width: 15px;
  margin-right: 15px;
}

.hero .customerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 42px;
}

.hero .customerContainer p {
  font-weight: 800;
  font-size: 22px;
}

.hero .textContainer .customerContainer>img {
  width: 250px;
}

// image container

.hero .imageContainer {
  max-width: 550px;
  position: relative;
}

.hero .imageContainer img {
  width: 100%;
  border-radius: 20px;
}

.hero .imglink1 {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 24px;
  bottom: 20%;
  left: -20%;
  background-color: white;
  padding: 10px 16px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);

  h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
    color: rgb(75, 85, 99);
    margin-bottom: 5px;
  }

  .textContent {
    width: 130px;

    img {
      width: 90%;
      position: relative;
      left: -3px;
    }
  }

  .imgContent {
    width: 36px;
  }

}

@media (max-width: 1500px) {
  .hero .textContainer h1 {
    font-size: 66px;
    line-height: 80px;
  }

  .hero .textContainer>p {
    font-size: 22px;
    line-height: 40px;
  }
}

@media (max-width: 1300px) {
  .hero .imageContainer {
    max-width: 400px;
  }

  .hero .textContainer h1 {
    font-size: 52px;
    line-height: 70px;
  }

  .hero .textContainer>p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    padding-top: 10px;
  }

  .hero .imageContainer {
    width: 300px;
  }

  .hero .textContainer .customerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero .imglink1 {
    bottom: 10%;
    left: -40%;

    .textContent {
      width: 120px;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }

    .imgContent {
      width: 30px;
    }
  }
}

@media (max-width: 560px) {
  .hero {
    padding-inline: 20px;
    gap: 15px;
  }

  .hero .button {
    margin-top: 28px;
    max-width: 286px;
    font-size: 15px;
  }

  .hero .imglink1 {
    left: -10%;
    bottom: 30%;
  }

  .hero .textContainer h1 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 16px;
  }

  .hero .textContainer .customerContainer>p {
    font-size: 18px;
    text-align: center;
  }
}
