section.templates {
  margin-top: 144px;
  max-width: unset;
}

.templates .textcontent {
  max-width: 1650px;
  margin-inline: auto;
  padding-inline: 32px;
}

.templates h2 {
  font-size: 48px;
  font-weight: 900;
  color: #200e32;
}

.templates p {
  font-size: 20px;
  margin-top: 20px;
  max-width: 700px;
  color: #616977;
}

.templates .showTemplatesButton {
  display: block;
  max-width: 300px;
  background-color: white;
  padding: 18px 32px;
  margin-inline: auto;
  text-align: center;
  border: 2px solid #200e32;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #200e32;
  margin-top: 50px;
}

.embla {
  overflow: hidden;
  margin-top: 40px;
  max-width: 1650px;
  padding-inline: 32px;
  margin-inline: auto;
}

.embla__container {
  display: flex;
  width: 100%;
}

.embla__slide {
  flex: 0 0 318px;
  min-width: 0;
  margin-right: 24px;
  cursor: pointer;
  user-select: none;
}

.embla__slide:hover {
  opacity: 0.7;
}

.embla__slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.414;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .embla {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .templates h2 {
    font-size: 36px;
  }

  .templates {
    margin-top: 100px !important;
  }

  .templates .showTemplatesButton {
    font-size: 14px;
    padding: 15px 20px;
    margin-top: 50px;
  }
}
