.testimonials {
  padding-inline: 40px;
  margin-top: 192px;
  max-width: 1650px;
}

.testimonials h3 {
  font-size: 60px;
  color: #200e32;
}

.embla {
  overflow: hidden;
  margin-top: 50px;
}

.embla__container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.embla__slide {
  display: flex;
  flex: 0 0 600px;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
  height: 350px;

  &>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50px;
    }
  }
}

@media (max-width: 1400px) {
  .testimonials {
    margin-top: 144px;
  }

  .testimonials h3 {
    font-size: 48px;
  }

  .embla__slide {
    flex: 0 0 500px;
  }
}

@media (max-width: 700px) {
  .testimonials {
    margin-top: 80px;
    padding-inline: 20px;
  }

  .testimonials h3 {
    font-size: 30px;
  }

  .embla__slide {
    font-size: 16px;
    flex: 0 0 400px;
    height: 350px;
  }
}

@media (max-width: 500px) {
  .embla__slide {
    font-size: 14px;
    flex: 0 0 300px;
    height: 350px;

    &>div {
      font-size: 12px;
    }

    img {
      width: 30px !important;
    }
  }
}
