.container {
  max-width: 1600px;
  margin-inline: auto;
}

.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-inline: 24px;
}

.navbar {
  max-width: 1600px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar>* {
  display: block;
}

.navbar .backButton {
  padding-inline: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.navbar select {
  margin-left: auto;
  max-width: 150px;
  border-radius: 7px;
  cursor: pointer;
}

.navbar .downloadBtn {
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 20px;
}

.mainsection {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-inline: 24px;
}

.mainsection .editor {
  padding-top: 104px;
  padding-bottom: 32px;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  flex: 1;
  scrollbar-width: none;
  scroll-behavior: smooth;
  will-change: transform;

  &::-webkit-scrollbar {
    display: none;
  }

  form {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    h3 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    label,
    input {
      display: block;
    }

    label {
      font-weight: 700;
      margin: 0 0 5px 13px;
    }

    input,
    textarea,
    select {
      width: 100%;
      font-size: 18px;
      padding: 13px 15px;
      background-color: #f3f4f6;
      border: none;
      border-radius: 10px;
      outline: none;
      margin-bottom: 15px;
      resize: none;
    }

    textarea {
      height: 150px;
    }

    input[type='button'],
    select {
      cursor: pointer;
      background-color: rgb(32, 14, 50);
      color: white;
    }

    input[type='submit']:hover {
      transition: 0.2s ease;
      opacity: 0.70;
    }
  }

  .languageTag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #083DCC;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.mainsection .preview {
  width: 800px;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 104px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  will-change: transform;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1440px) {
  .mainsection .preview {
    width: 700px;
  }
}

@media (max-width: 1350px) {
  .mainsection .preview {
    width: 600px;
  }
}

@media (max-width: 1230px) {
  .mainsection .preview {
    width: 500px;
    overflow-y: hidden;
  }
}

@media (max-width: 1130px) {
  .mainsection .preview {
    width: 400px;
  }
}

@media (max-width: 1025px) {
  .mainsection .preview {
    width: 793px;
    margin-inline: auto;
    ;
  }
}

@media (max-width: 845px) {
  .mainsection .preview {
    width: 715px;
  }
}

@media (max-width: 765px) {
  .mainsection .preview {
    width: 635px;
  }
}

@media (max-width: 690px) {
  .mainsection .preview {
    width: 556px;
  }
}

@media (max-width: 605px) {
  .mainsection .preview {
    width: 477px;
  }
}

@media (max-width: 530px) {
  .mainsection .preview {
    width: 397px;
  }
}

@media (max-width: 445px) {
  .mainsection .preview {
    width: 318px;
  }
}

@media (max-width: 369px) {
  .mainsection .preview {
    width: 238px;
  }
}

@media (max-width: 1025px) {
  .mainsection {
    flex-direction: column;
  }

  .mainsection .editor,
  .mainsection .preview {
    flex: 1 !important;
    overflow: hidden;
    height: 100%;
    padding-bottom: 0;
  }

  .mainsection .editor {
    padding-top: 80px;
  }

  .mainsection .preview {
    padding-top: 0;
  }
}

@media (max-width: 530px) {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
  }

  .navbar .backButton {
    font-size: 13px;
    padding-inline: 10px;
  }
}
