.container {
  max-width: 1600px;
  margin-inline: auto;
}

.navbar {
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar>* {
  display: block;
}

.navbar .backButton {
  padding-inline: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.navbar select {
  margin-left: auto;
  width: 150px;
  border-radius: 7px;
  cursor: pointer;
}

.navbar .downloadBtn {
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 20px;
}

.mainsection {
  display: flex;
  margin-top: 40px;
  gap: 50px;
  margin-inline: 50px;
}

.mainsection .editor {
  background-color: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: min-content;
  flex: 1;

  h3 {
    font-size: 28px;
  }

  form {
    margin-top: 30px;

    label,
    input {
      display: block;
    }

    label {
      font-weight: 700;
      margin: 0 0 5px 13px;
    }

    input,
    textarea,
    select {
      width: 100%;
      font-size: 18px;
      padding: 13px 15px;
      background-color: #f3f4f6;
      border: none;
      border-radius: 10px;
      outline: none;
      margin-bottom: 15px;
      resize: none;
    }

    textarea {
      height: 150px;
    }

    input[type='submit'],
    select {
      cursor: pointer;
    }
  }

  .languageTag {
    padding: 5px 10px;
    background-color: #083DCC;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
  }

  .languagesSection {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 15px;

  }

  .documentSection {
    margin-top: 20px;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 15px;
  }
}

.mainsection .preview {
  aspect-ratio: 1 / 1.414;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  overflow: hidden;
}
