// Navbar container
.navbar {
  margin-bottom: 30px;
  max-width: 1800px;
  margin-inline: auto;
  padding: 12px 24px;
  position: sticky;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  z-index: 10;
  backdrop-filter: blur(6px);
  border-radius: 15px;
}

// Logo Container
.navbar .logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 18px;
}

.navbar .logoContainer:hover {
  transition: 0.2s ease;
  opacity: 0.7;
}

.navbar .logoContainer img {
  width: 60px;
  height: 60px;
  background-color: #f6f6f9;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.navbar .logoContainer h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
}

.navbar .logoContainer span {
  font-weight: 700;
}

// Navigation Container
.navbar .navigationContainer {
  display: flex;
  list-style: none;
  gap: 10px;
}


@media (max-width: 520px) {
  .navbar {
    padding: 8px 12px;
    border-radius: 0;
    top: 0px;
  }

  .navbar .logoContainer {
    gap: 4px;
  }

  .navbar .logoContainer img {
    width: 43px;
    height: 43px;
  }

  .navbar .logoContainer h2 {
    font-size: 22px;
  }

  .navbar .button {
    font-size: 12px;
    padding: 10px 8px;
  }
}
